<%- include('../../partials/head.ejs',{title: '404 Not Found'}) %> 

<div class="container my-container my-5">

     <h1 class="display-4 text-center"> 404 Not Found</h1>
     <p class="text-center">Please back to home page</p>

</div>

<%- include('../../partials/footer.ejs') %>

</body>
</html>